<%= erb :header %>

<div class="container">
  <% if @part.type == "assembly" && @user.can_edit? %>
    <div class="pull-right" style="margin-top: 15px;">
    <a href="/projects/<%= @part.project_id %>/new_part?type=part&parent_part_id=<%= @part.id %>"
        class="btn btn-success btn-small"><i class="icon-white icon-cog"></i> New Part</a>
    <a href="/projects/<%= @part.project_id %>/new_part?type=assembly&parent_part_id=<%= @part.id %>"
        class="btn btn-success btn-small"><i class="icon-white icon-th"></i> New Assembly</a>
    </div>
  <% end %>
  <h2><%= @part.type.capitalize %>: <%= @part.name %></h2>

  <div>
    <a href="/projects/<%= @part.project_id %>"><b><%= @part.project.name %></b></a>
    <% if @part.parent_part %>
      <i class="icon-chevron-right"></i> <%= erb :part_tree, :locals => { :part => @part.parent_part } %>
    <% end %>
    <i class="icon-chevron-right"></i> <b><%= @part.name %></b>
  </div>
  <br />

  <% if @part.type == "assembly" %>
    <entry><b>Parts & assemblies contained within this assembly:</b></entry>

    <%= erb :parts_list, :locals => { :parts => Part.where(:parent_part_id => @part.id).order(@part_sort) } %>
  <% end %>

  <div class="row">
    <div class="span4">
      <table class="table table-striped table-bordered" style="width: 100%;">
        <tr>
          <td><b>Project</b></td>
          <td><a href="/projects/<%= @part.project_id %>"><%= @part.project.name %></a></td>
        </tr>

        <tr><td><b>Part Number</b></td><td><%= @part.full_part_number %></td></tr>
        <tr><td><b>Part Revision</b></td><td><%= @part.revision %></td></tr>
        
        <tr>
          <td><b>Status</b></td>
          <td>
            <span class="label label-status-<%= @part.status %>"><%= Part::STATUS_MAP[@part.status] %></span>
          </td>
        </tr>
        
        <tr><td><b>Notes</b></td><td><%= (@part.notes || "").gsub("\n", "<br />") %></td></tr>
        
        <% if @part.type == "part" %>
          <tr><td><b>Source material</b></td><td><%= @part.source_material %></td></tr>
          <tr><td><b>Have material?</b></td><td><%= (@part.have_material == 1) ? "Yes" : "No" %></td></tr>
          <tr><td><b>Material cut length</b></td><td><%= @part.cut_length %></td></tr>
        <% end %>
        
        <tr><td><b>Quantity required</b></td><td><%= @part.quantity %></td></tr>
        <tr><td><b>Drawing created?</b></td><td><%= (@part.drawing_created == 1) ? "Yes" : "No" %></td></tr>
        <tr><td><b>Priority</b></td><td><%= Part::PRIORITY_MAP[@part.priority] %></td></tr>

        <tr>
          <td><b>Supplemental Documents</b></td>
          <td>
              <% Dir.glob("uploads/#{@part.project_id}/supp_docs/#{@part.full_part_number}.*") do |filename| %>
                <a href="/<%= filename %>"><%= File.basename(filename).match('\.(.*)')[1] %></a><br />
              <% end %>
          </td>
        </tr>
      </table>

      <% if @user.can_edit? %>
        <div class="row" style="margin-bottom: 20px">
          <div class="span-4 pull-right">
            <div class="pull-right">
              <a href="/parts/<%= @part.id %>/edit" class="btn btn-primary btn-small">
                <i class="icon-white icon-pencil"></i> Edit Part
              </a>
              <a href="/parts/<%= @part.id %>/delete" class="btn btn-danger btn-small">
                <i class="icon-white icon-trash"></i> Delete Part
              </a>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="span8">
      <div class="tabbable">
        <ul class="nav nav-tabs">
          <% for i in 1..@part.revision %>
            <li <%= "class=\"active\"" if i == @part.revision %>><a href="<%= "#rev#{i}" %>" data-toggle="tab">Rev. <%= i %></a></li>
          <% end %>
        </ul>

        <div class="tab-content">
          <% for i in 1..@part.revision %>
            <div class="tab-pane <%= "active" if i == @part.revision %>" id="<%= "rev#{i}" %>">
              <% if File.file?("uploads/#{@part.project_id}/drawings/#{@part.full_part_number}.#{i}.pdf") %>
                <div style="position: relative; padding-bottom: 82%; /* 4:3 */	padding-top: 25px; height: 0;">
                  <object data="<%= "/uploads/#{@part.project_id}/drawings/#{@part.full_part_number}.#{i}.pdf" %>" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%">
                    <a href="<%= "/uploads/#{@part.project_id}/drawings/#{@part.full_part_number}.#{i}.pdf" %>"><%= "#{@part.full_part_number}.#{i}.pdf" %></a>
                  </object>
                </div>
              <% else %>
                <p>No drawing has been uploaded for this part revision.</p>
              <% end %>
            </div>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>

<%= erb :footer %>
