<%= erb :header %>

<div class="container">
  <h2>Edit Part</h2>
  <form action="" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="referrer" value="<%= @referrer %>" />
    <label><span class="label label-info">Part Number</span> <%= @part.full_part_number %></label>
    <label>Part Name</label>
    <input type="text" name="name" value="<%= @part.name %>" />
    <label>Part Revision</label>
    <input type="text" name="revision" value="<%= @part.revision %>" />

    <label>Status</label>
    <select name="status">
      <% Part::STATUS_MAP.each_pair do |key, value| %>
        <option value="<%= key %>"<% if @part.status == key %> selected<% end %>>
          <%= value %>
        </option>
      <% end %>
    </select>
    <label>Notes</label>
     <textarea name="notes" rows="4"><%= @part.notes %></textarea>
    <label>Source Material</label>
    <input type="text" name="source_material" value="<%= @part.source_material %>" />
    <label>Have Material?</b>
      <input type="checkbox" name="have_material"<% if @part.have_material == 1 %>checked<% end %>/>
    </label>
    <label>Material Cut Length</label>
    <input type="text" name="cut_length" value="<%= @part.cut_length %>" />
    <label>Quantity Required</label>
    <input type="text" name="quantity" value="<%= @part.quantity %>" />
    <label>Drawing Created?</b>
      <input type="checkbox" name="drawing_created"<% if @part.drawing_created == 1 %>checked<% end %>/>
    </label>

    <label>Attach Drawing</label>
    <input type="file" name="drawing" accept="application/pdf"/>
    <label>Attach Supplemental Doc</label>
    <input type="file" name="supp_docs[]" accept="application/pdf,image/png,image/jpeg,image/,text/plain,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-powerpoint,application/vnd.openxmlformats-officedocument.presentationml.presentation" multiple/>

    <label>Priority</label>
    <select name="priority">
      <% Part::PRIORITY_MAP.each_pair do |key, value| %>
        <option value="<%= key %>"<% if @part.priority == key %> selected<% end %>>
          <%= value %>
        </option>
      <% end %>
    </select>
    <label><input type="submit" class="btn btn-primary btn-medium" value="Save Part" onclick="return verifyFileTypes(this.parentElement.parentElement);"/></label>
  </form>
</div>

<%= erb :footer %>
